<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TopicTool.Properties.Settings.topicConnectionString" connectionString="Data Source=JUVETURIN81\SQLEXPRESS2008R2;Initial Catalog=topic;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
