<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TopicTool.Properties.Settings.topicConnectionString"
            connectionString="Data Source=JUVETURIN81\SQLEXPRESS2008R2;Initial Catalog=topic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>