<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ACGTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ACGTool.Properties.Settings>
            <setting name="RecentFolderPath" serializeAs="String">
                <value>c:\Programming\2015\De tai KCD\HuanLuyen\HuanLuyen\Classes\</value>
            </setting>
            <setting name="RecentOuputFolderPath" serializeAs="String">
                <value>c:\Programming\2015\De tai KCD\Test\Output\</value>
            </setting>
            <setting name="RecentDecompilerFilePath" serializeAs="String">
                <value />
            </setting>
        </ACGTool.Properties.Settings>
    </userSettings>
</configuration>
